/*---- Let's reset some CSS first ----*/
@import url('reset.css');

/*
/
/
Let's get some help from BootStrap
*/

@import url('bootstrap.css');
@import url('bootstrap-theme.css');



/*@font-face{
    font-family: 'Klavika-Light';
    src: url('../fonts/Klavika/Klavika-Light.bmap') format('bmap'),
    	 url('../fonts/Klavika/Klavika-Light.otf') format('otf'),
         url('../fonts/Klavika/Klavika-Light.woff') format('woff');         
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family: 'Elderkin-Medium';
    src: url('../fonts/Elderkin-Medium/Elderkin-Medium.bmap') format('bmap'),
    	 url('../fonts/Elderkin-Medium/Elderkin-Medium.otf') format('otf'),
         url('../fonts/Elderkin-Medium/Elderkin-Medium.woff') format('woff');         
    font-weight: normal;
    font-style: normal;
}*/

@font-face{
    font-family:'Gotham-Book';
    src: url('../fonts/Gotham/Gotham-Book.pfb') format('pfb'),
         url('../fonts/Gotham/Gotham-Book.otf') format('otf'),
         url('../fonts/Gotham/Gotham-Book.svg') format('svg'),
         url('../fonts/Gotham/Gotham-Book.woff') format('woff');         
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:'Gotham-Light';
    src: url('../fonts/Gotham/Gotham-Light.pfb') format('pfb'),
         url('../fonts/Gotham/Gotham-Light.otf') format('otf'),
         url('../fonts/Gotham/Gotham-Light.svg') format('svg'),
         url('../fonts/Gotham/Gotham-Light.woff') format('woff');         
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:'Gotham-Round-Light';
    src: url('../fonts/GothamRounded/GothamRounded-Light.pfb') format('pfb'),
         url('../fonts/GothamRounded/GothamRnd-Light.otf') format('otf'),
         url('../fonts/GothamRounded/GothamRnd-Light.svg') format('svg'),
         url('../fonts/GothamRounded/GothamRnd-Light.woff') format('woff');         
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:'Gotham-Round-Book';
    src: url('../fonts/GothamRounded/GothamRounded-Book.pfb') format('pfb'),
         url('../fonts/GothamRounded/GothamRnd-Book.otf') format('otf'),
         url('../fonts/GothamRounded/GothamRnd-Book.svg') format('svg'),
         url('../fonts/GothamRounded/GothamRnd-Book.woff') format('woff');         
    font-weight: normal;
    font-style: normal;
}

@font-face{
    font-family:'Gotham-Round-Bold';
    src: url('../fonts/GothamRounded/GothamRounded-Bold.pfb') format('pfb'),
         url('../fonts/GothamRounded/GothamRnd-Bold.otf') format('otf'),
         url('../fonts/GothamRounded/GothamRnd-Bold.svg') format('svg'),
         url('../fonts/GothamRounded/GothamRnd-Bold.woff') format('woff');         
    font-weight: normal;
    font-style: normal;
}

body{
    font-family: 'Gotham-Round-Book', 'sans-serif'; 
    color: #EBE9E9;
}

h1, h2{
    font-family: 'Gotham-Round-Bold', 'sans-serif'; 
    text-transform:uppercase;   
}

h2{
    color: #EBE9E9;
}
/*
/
/
These are the elements for navigation bar
/
*/
#logo{
    margin: 15px 60px 15px 60px;
}

.logo-container{
    float: left;
}

#menu{

    text-transform:uppercase;
    font-family: 'Gotham-Round-Bold', 'sans-serif'; 
}

/*.menu-container{

    float: left;
}*/

.menu-items{
    font-size: 16px;
    margin: 0 10px;
    margin-top: 30px;
    float: left;
}

#brand{
    color: #b9d657;
    font-family: 'Gotham-Round-Light', 'sans-serif';
}


/*
/
/
These are the elements of content
/
*/

#what-code-math{
    /*background-color: blue;*/
    width: 100%;
    height: 100%;
}

#trajectory{    
    /*background-color: green;*/
    width: 100%;
    height: 100%;
}

#code-examples{    
    /*background-color: yellow;*/
    width: 100%;
    height: 100%;
}

#contact{    
    /*background-color: brown;*/
    width: 100%;
    height: 100%;
}

#what-code-image{
    float:left;
    margin: 45px auto 20px 80px;
}

#codeMath-definition{
    float: left;
    margin: 90px auto 20px 50px;
    width: 500px;
    height: 300px;
    font-size: 24px;
}

.article-container{
    min-height: 550px;
    max-height: inherit;
}

.page-title{
    margin: 50px 0px 20px 60px;
}

.page-text{
    color: #EBE9E9;
}

/*
//
//
Trajectory elements
//
//
*/

#trajectory-text{
    margin: 50px 0px 0px 60px;
}

/*
//
//
FrameWork elements
//
//
*/

#framework-text{
    font-size: 24px;
    max-width: 500px;
    min-width: 300px;
    margin: 50px 0px 0px 60px;
    float: left;
    padding-top: 30px;
}

#framework-image{
    float: left;
    width: 400px;
    height: 400px;
    margin-left: 10px;
}

.canvas-container{
    overflow: hidden;
    margin-left: 100px;
    float: left;
    min-width: 400px;
}
/*------- 1. Variables -------*/

#variables-text{
    font-size: 24px;
    max-width: 500px;
    min-width: 300px;
    margin: 0px 0px 0px 60px;
    float: left;
    padding-top: 30px;
}

#variables-definition{
    margin-top: 15px;
    width: 400px;
    margin-bottom: 40px;
}

#variables-code{
    float: left;
}

.generic-code{
   color: #EBE9E9;
   font-size: 18px;    
}

#variables-canvas-text{
    font-size: 24px;
}

#variables-canvas{
    /*background-color: blue;*/
    min-width: 400px;
    min-height: 400px;
    max-width: 200px;  
    /*position: absolute;*/
    /*width: 100%;*/
    overflow: auto;
}

/*------- 2. Variables & Equations  -------*/

#equations-text{
    font-size: 24px;
    max-width: 500px;
    min-width: 300px;
    margin: 0px 0px 0px 60px;
    float: left;
    padding-top: 30px;
}

#equations-definition{
    margin-top: 15px;
    width: 400px;
    margin-bottom: 40px;
}

#equations-container{
    overflow: hidden;
    margin-left: 80px;
    float: left;
    min-width: 200px;
}

#equations-canvas-text{

}

/*This is to overwrite the classes that fullpage.js adds.
/
*/
.tableCell{
    padding-top: 111px;

}

.table{

    margin-bottom: 0px;
}
/*
/
*/





